<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <!-- Comienzo de header -->
        <%- include('../partials/header.ejs') %>
            <!-- Fin del header -->

            <main class="main-btnArrepentimiento">
                <h2>Arrepentimiento de compra</h2>

                <h4>Podrás solicitar la cancelación de tu compra hasta 10 días corridos a partir de la entrega del
                    producto.</h4>

                <div class="border">
                    <div class="ccdf">
                        <svg>
                            <g fill-rule="evenodd">
                                <circle cx="9" cy="9" r="9" fill="#5B3293" fill-rule="norenzo"></circle>
                                <path fill="#FFF" stroke="#FFF" stroke-width=".5"
                                    d="M12.946 4.971c-.154-.108-.366-.071-.475.083l-5.05 7.169-1.93-1.93c-.133-.133-.35-.133-.482 0-.133.134-.133.35 0 .482l2.216 2.216c.064.064.15.1.24.1.11 0 .214-.052.28-.144l5.284-7.5c.108-.155.071-.368-.083-.476">
                                </path>
                            </g>
                        </svg>
                        <p><b>Si compraste en MYYM.com o de forma telefónica,</b> podrás solicitar la cancelación de tu
                            compra desde <b>Mis Compras</b> siguiendo estos pasos:</p>
                    </div>
                    <div class="ccdl">
                        <div class="ccdf">
                            <div class="circle"></div>
                            <p>Ingresá a <a href="" class="blue">Mis compras </a>con el <b>email de compra.</b></p>
                        </div>
                        <div class="ccdf">
                            <div class="circle"></div>
                            <p>Seleccioná <b>“Necesito ayuda”</b> en la compra a cancelar.</p>
                        </div>
                        <div class="ccdf">
                            <div class="circle"></div>
                            <p>Elegí la opción <b>“Quiero cancelar la compra”</b>. ¡Listo!.</p>
                        </div>
                    </div>
                </div>
                <section>
                    <p class="d">
                        Si no pudiste solicitar la cancelación desde Mis compras, completá el siguiente formulario.
                        Dentro de las próximas 24hs te enviaremos un email de confirmación con el Nº de solicitud
                        generado.
                    </p>

                    <form action="">
                        <div class="cInput">
                            <label for="codeProduct">Código de pedido (enviado por email) *</label>
                            <div class="input">
                                <input type="text" placeholder="V17611185frvg-01" id="codeProduct" name="codeProduct" />
                            </div>
                        </div>
                        <div class="cInput">
                            <label for="dni">DNI *</label>
                            <div class="input">
                                <input type="number" id="dni" name="dni" />
                            </div>
                        </div>

                        <div class="containerReCaptcha">
                            <div class="g-recaptcha" data-sitekey="6Lf31UAcAAAAABrw2DUMZXzCldUObT0L4lEoBJcP"></div>
                            <br/> 
                            <small id="status" style="color: red;"></small>                     
                        </div>
                        <div class="btn-continue">
                            <button class="btn-agregarProducto continue" type="submit" onclick="onloadCallback()">CONTINUAR</button>
                        </div>
                    </form>
                </section>
                <section>
                    <div class="line"></div>
                    <div class="ccdf">
                        <svg>
                            <g fill-rule="evenodd">
                                <circle cx="9" cy="9" r="9" fill="#5B3293" fill-rule="norenzo"></circle>
                                <path fill="#FFF" stroke="#FFF" stroke-width=".5"
                                    d="M12.946 4.971c-.154-.108-.366-.071-.475.083l-5.05 7.169-1.93-1.93c-.133-.133-.35-.133-.482 0-.133.134-.133.35 0 .482l2.216 2.216c.064.064.15.1.24.1.11 0 .214-.052.28-.144l5.284-7.5c.108-.155.071-.368-.083-.476">
                                </path>
                            </g>
                        </svg>
                        <p><b>Si compraste en una <a href="" class="blue">sucursal de MYYM Gamers,</a></b> acercate a la
                            misma para solicitar la cancelación de tu compra.</p>
                    </div>
                    <div class="line"></div>
                </section>
            </main>
            <!-- Comienzo de footer -->
        <%- include('../partials/footer.ejs') %>
        <!-- Fin del footer -->

        <script type="text/javascript">
            var onloadCallback = function() {
                var response = grecaptcha.getResponse();
              if (response.length != 0) {
                  window.open('https://www.google.com/')
              }else{
                  document.getElementById('status').innerHTML = "Acepta el captcha para continuar."
              }
            };
          </script>      
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>


    </body>

</html>