@import url(variants.css);


.main-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.welcome {
    padding: 10px
}

section.welcome h2 {
    font-family: var(--font-roboto);
    color: var(--blue);
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
}

section.options-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

section.options-admin a {
    text-decoration: none;
    color: var(--darkBlue);
    text-align: center;
}

section.options-admin a div.administracion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    border: solid 1px var(--purple);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 1px var(--grey);
    transition: all 2s ease;
}

section.options-admin a div.administracion:hover {
    background-color: var(--violet2);
    color:var(--cream);
    transform: scale(1.04);
}

section.options-admin a div.administracion h4 {
    font-family: var(--font-roboto);
}