.isValid{
    border-color: forestgreen;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1.2rem center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    outline: none;
  }
  
  .isValid + .icon::after {
    content: '😃';
  }
  
  .isInvalid {
    border-color: firebrick;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1.2rem center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    outline: none;

  }
  
  .isInvalid + .icon::after {
    content: '😳';
  }  


.cargaDeFotos {
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: #F2F2F2;
}

/* .cargaDeFotos input {
    display: none;
}
 */
.volver {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5rem;
}

.volver a {
    color: var(--darkBlue);
}

.subirFoto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subirFoto .prevImage{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
}

.subirFoto .prevImage img{
    width: auto;
    height: 100%;
}

.subirFoto div.inputFile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    margin-top: 100px;
}

.subirFoto div.inputFile label{
  z-index: 1;
}

main.main-admin h2 {
    font-family: var(--font-roboto);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

section.charge {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-family: var(--font-roboto);
}

section.charge .freight label {
    font-size: 14px;
    font-weight: bold;

}

section.charge .freight input {
    border: none;
    width: 100%;
    height: 100%;
}

section.charge .freight input:focus {
    outline: none;
}

section.charge .freight div.input {
    border-bottom: solid 1px var(--grey);
    padding: 5px;
    margin-bottom: 15px;
}

section.charge .freight div.input textarea#description,
section.charge .freight div.input textarea#schedule,
section.charge .freight div.input textarea#mainFeatures{
    border: none;
    padding: 5px;
    width: 100%;
}

section.charge .freight div.input textarea#description:focus {
    outline: none;
}

section.charge .freight div.input select {
    border: none;
    width: 100%;
    height: 100%;
    color: var(--dark);

}

section.charge .btn-publish {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.charge button.publish {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: var(--font-roboto);
    font-size: 17px;
    color: var(--cream);
    background: linear-gradient(88.29deg, rgba(0, 0, 115, 0.911) 3.94%, rgba(201, 1, 98, 0.904) 96.6%);
    transition: all 1s ease;
    text-decoration: none;

}

section.charge button.publish a {
    color: var(--cream);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

section.charge button.publish:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 2px var(--lilac1);

}

.text-danger {
    color: rgb(255, 0, 0);
    padding-top: 2px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-top: solid 1px var(--grey);
}

@media screen and (min-width: 481px) {

    section.charge .freight div.input {
        border: solid 1px var(--grey);
        border-radius: 7px;
    }

}


@media screen and (min-width: 769px) {

    main.main-admin h2 {
        font-size: 24px;
    }

    section.charge .formAdmin {
        display: flex;
        justify-content: space-evenly;

    }


    section.charge .freight div.input {
        width: 35vw;
    }

    section.charge button.publish {
        width: 270px;
        height: 55px;
    }

}