

.sectionPagination {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(103deg, rgba(0, 0, 0, 1) 0%, rgba(55, 4, 96, 1) 100%);
    margin: 1rem 0.5rem 0;
    border-radius: 5px;
  }
  
  .sectionPagination .pagination {
    position: relative;
    display: flex;
    flex-direction: row;
    --ddim: 10px;
    --rd: 15px;
    --rdim: calc(var(--rd)*2);
    --pm: #ffff03;
  }
  
  .sectionPagination .num-page {
    content: '';
    margin: 0 10px;
    height: var(--ddim);
    width: var(--ddim);
    background: #f7b997;
    cursor: pointer;
    border: none;
  }
  
  .sectionPagination label:first-child {margin-left: 0;}
  .sectionPagination label:last-child {margin-right: 0;}
  .sectionPagination input {display: none;}
  
  .sectionPagination .pacman {
    content: '';
    position: absolute;
    top: calc(-1*var(--ddim));
    left: calc(-1*var(--ddim)/2);
    height: var(--rdim);
    width: var(--rdim);
    transition: transform 250ms linear;
  }
  
  .sectionPagination .pacman:before,
  .sectionPagination .pacman:after {
    content: '';
    position: absolute;
    height: var(--rd);
    width: var(--rdim);
    left: 0;
    background: var(--pm);
    transition: inherit;
  }
  
  .sectionPagination .pacman:before {
    top: 0;
    border-top-left-radius: var(--rdim);
    border-top-right-radius: var(--rdim);
    transform-origin: bottom center;
    transform: rotate(-45deg);
  }
  
  .sectionPagination .pacman:after {
    bottom: 0;
    border-bottom-left-radius: var(--rdim);
    border-bottom-right-radius: var(--rdim);
    transform-origin: top center;
    transform: rotate(45deg);
  }
  
  @keyframes waka {
    0% {}
    50% {transform: rotate(0);}
    100% {}
  }
  
  .sectionPagination .formPagination:hover ~ .pacman:before,
  .sectionPagination .formPagination:hover ~ .pacman:after {
    animation: waka 500ms infinite;
  }

  .sectionPagination #formPagination1.click ~ .pacman {transform: translateX(var(--ddim));}
  .sectionPagination #formPagination2.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)));}
  .sectionPagination #formPagination3.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*2));}
  .sectionPagination #formPagination4.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*3));}
  .sectionPagination #formPagination5.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*4));}
  .sectionPagination #formPagination6.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*5));}
  .sectionPagination #formPagination7.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*6));}
  .sectionPagination #formPagination8.click ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*7));}
  .sectionPagination #formPagination1.click ~ .pacman {transform: translateX(var(--ddim));}

  .sectionPagination #formPagination2:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)));}
  .sectionPagination #formPagination3:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*2));}
  .sectionPagination #formPagination4:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*3));}
  .sectionPagination #formPagination5:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*4));}
  .sectionPagination #formPagination6:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*5));}
  .sectionPagination #formPagination7:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*6));}
  .sectionPagination #formPagination8:active ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*7));}


  
  