@import url(variants.css);

.fav-container {
    width: 80%;
}

.fav-info {
    display: flex;
    justify-content: space-between;
}

th.favProduct {
    text-align: center;
}

.jccenter {
    display: flex;
    justify-content: center;
}

.favorites td {
    border-bottom: solid 1px var(--darkBlue);
}

.btnRemove {
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: crimson;
}