@import url(variants.css);

main {
    margin-bottom: 100px;
}

main.home {
    font-family: var(--font-poppins);
}

/* Tarjetitas */
section.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    background-color: rgba(196, 196, 196, 0.25);
    gap: 5px;
    padding: 10px 15px 0 10px;
}

section div.tarjetitas {
    display: flex;
    height: 52px;
    background-color: white;
    border: solid 1px var(--grey);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 3px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

section div.tarjetitas .icon-cards {
    display: none;
}

section div.tarjetitas .description-cards {
    font-family: var(--font-poppins);
    user-select: none;
}

section div.tarjetitas .description-cards h4 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

section div.tarjetitas .description-cards p {
    font-size: 10px;
    display: none;
}

/* Sección filtros */
.filters {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

.filters h5 {
    margin-right: 5px;
}

.filters select {
    margin: 0 10x;
    color: var(--blue);
    font-family: var(--font-poppins);
    font-size: 12px;
    padding: 5px;
    border: solid 1px var(--purple);
    border-radius: 5px;
    transition: all 1.5s ease-out;
}

.filters button {
    color: var(--blue);
    font-family: var(--font-poppins);
    font-size: 12px;
    padding: 5px;
    border: solid 1px var(--purple);
    border-radius: 5px;
    transition: all 1.5s ease-out;
}

.filters button:hover {
    color: var(--cream);
    background: linear-gradient(88.29deg, rgba(0, 0, 115, 0.911) 3.94%, rgba(201, 1, 98, 0.904) 96.6%);
}

/* Sección de Productos */
main section.container-products,
.otros-productos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(196, 196, 196, 0.25);
}

main section.container-products h2 {
    font-size: 18px;
    margin: 0.5rem;
}

main section.container-products div.products,
.otros-productos {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
}

main section.container-products div.products a {
    text-decoration: none;
    color: inherit;
}

main section.container-products div.products article,
.cajasmini article {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2px 10px;
    height: 370px;
}

div.star .btnStar {
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

main section.container-products div.products article div.star,
.cajasmini article div.star {
    display: inline-block;
    position: absolute;
    right: 1rem;
    width: 35px;
    height: 35px;

}

main section.container-products div.products article div.star figure {
    background-image: url("/img/iconos-png/star-desactivada.png");
    background-size: contain;
    width: 35px;
    height: 35px;
}

main section.container-products div.products article div.star figure.activated {
    background-image: url("/img/iconos-png/star-active.png");
    background-size: contain;
    width: 31px;
    height: 31px;
}

main section.container-products div.products article div.star img,
.cajasmini article .star img {
    width: 35px;
    height: 35px;
}

main section.container-products div.products article div.img-producto,
.cajasmini article div.img-producto {
    width: 100%;
    height: 180px;
}

main section.container-products div.products article div.img-producto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* puntuación */

main section.container-products div.products article div.puntuacion,
.cajasmini article div.puntuacion {
    font-size: 11px;
    font-family: var(--font-roboto);
    display: flex;
}

main section.container-products div.products article div.puntuacion p,
.cajasmini article div.puntuacion p {
    padding: 10px;
}

/* Descripción de Productos */
main section.container-products div.products article div.description-product,
.cajasmini article div.description-product {
    font-family: var(--font-inter);
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.withDiscount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
}

.withDiscount small {
    text-decoration: line-through;
    color: var(--grey);
}

.withDiscount span {
    color: var(--lyftPink);
}

main section.container-products div.products article div.description-product h4,
.cajasmini article div.description-product h4 {
    font-size: 14px;
    margin: 10px 0px;
}


main section.container-products div.products article div.description-product p {
    display: none;
}

main section.container-products div.products article div.description-product h3 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 5px 0px;
}

/* Flecha ir arriba */
.arrow-top {
    position: relative;
    z-index: 2;
    display: none;
}

.arrow-top a {
    display: inline-block;
    position: absolute;
    right: 6rem;
    top: 88vh;
    position: fixed;
}

.arrow-top a img:hover {
    border-radius: 15px;
    box-shadow: 2px 2px 2px var(--orange);
}

@media screen and (min-width: 481px) {

    /* Tarjetitas */

    section div.tarjetitas .icon-cards {
        display: inline-flex;
        border: solid 1px var(--grey);
        border-radius: 50%;
        height: 32px;
        width: 35px;
        justify-content: center;
        align-items: center;
    }

    section div.tarjetitas .icon-cards i {
        text-align: center;
        font-size: 1.2rem;
        color: var(--darkBlue);
        padding: 10px;
    }

    /* Sección productos */

    main section.container-products div.products,
    .otros-productos .cajasmini {
        /*     grid-auto-rows: 22rem; */
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-auto-flow: dense;
        user-select: none;
    }

    .dBlock {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}

@media screen and (min-width: 769px) {

    /* Tarjetitas */

    section div.tarjetitas {
        transition: all 1s ease;
    }

    section div.tarjetitas:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 4px rgba(255, 163, 0, 0.3);
    }

    section div.tarjetitas .icon-cards {
        height: 45px;
        width: 45px;

    }

    section div.tarjetitas .icon-cards i {
        font-size: 1.5rem;
    }

    section div.tarjetitas .description-cards p {
        display: inline-block;
        margin-left: 10px;
        text-align: center;
    }

    /* Artículos */

    main section.container-products div.products article {
        cursor: pointer;
        transition: all 1s ease;
    }

    main section.container-products div.products article:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
    }

    main section.container-products div.products article div.description-product h4 {
        font-weight: bold;
        font-size: 16px;
        margin: 10px 0px;
    }

    main section.container-products div.products article div.description-product p {
        display: block;
        font-size: 12px;
        color: rgb(51, 51, 51);
    }

    .dBlock {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    }
}