<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>
        <main class="home">
                <div class="errorContainer">
                    <h2 class="errorText">
                        No se ha encontrado la pagina que has solicitado
                    </h2>
                    <div class="imagenCh">
                        <a href="/"><img class="cheemsImg" src="/img/cheems.png" alt="cheems"></a>
                    </div>
                </div>

        </main>
            <%- include('./partials/footer')%>
    </body>

</html>