  <footer>
    <section class="container-footer">
    <!-- Botón más info -->
    <div class="mas-info" onclick="dropInfo()">
      <p>Más información</p>
      <div class="btn-info">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="main-footer">
      <section class="dropdown-footer" id="navBarFooter">

        <div class="container-menu">
          <!-- desplegable para mobile -->
          <nav class="menu" id="navigation-bar-mobile">
            <ul>
              <li class="menu-item"><span class="a-footer" onclick="dropFooter(`nosotros`)"> Nosotros <div class="btn-info">
                    <i class="fas fa-chevron-down"></i>
                  </div></span>

                <ul class="sub-menu" id="nosotros">
                  <li><a href="" class="a-footer">Sobre nosotros</a></li>
                  <li><a href="" class="a-footer">Sucursales</a></li>
                  <li><a href="" class="a-footer">Términos y condiciones</a></li>
                  <li><a href="" class="a-footer">Promociones</a></li>
                  <li><a href="" class="a-footer">Políticas de calidad</a></li>
                </ul>
              </li>
              <li class="menu-item" onclick="dropFooter(`tienda`)"><span class="a-footer">Tienda Online<div class="btn-info">
                    <i class="fas fa-chevron-down"></i>
                  </div></span>

                <ul class="sub-menu" id="tienda">
                  <li><a href="" class="a-footer">Formas de pago</a></li>
                  <li><a href="" class="a-footer">Descuentos</a></li>
                  <li><a href="" class="a-footer">Cambios y devoluciones</a></li>
                  <li><a href="" class="a-footer">Legales</a></li>
                  <li><a href="/btnDeArrepentimiento" class="a-footer">Botón de arrepentimiento</a></li>
                </ul>
              </li>
              <li class="menu-item" onclick="dropFooter(`servicios`)"><span class="a-footer">Servicios <div class="btn-info">
                    <i class="fas fa-chevron-down"></i>
                  </div></span>
                <ul class="sub-menu" id="servicios">
                  <li><a href="" class="a-footer">Créditos</a></li>
                  <li><a href="" class="a-footer">Servicios</a></li>
                  <li><a href="" class="a-footer">Ventas corporativas</a></li>
                </ul>
              </li>
              <li class="menu-item" onclick="dropFooter(`ayuda`)"><span class="a-footer">Ayuda <div class="btn-info">
                    <i class="fas fa-chevron-down"></i>
                  </div></span>
                <ul class="sub-menu" id="ayuda">
                  <li><a href="" class="a-footer">Atención al cliente</a></li>
                  <li><a href="" class="a-footer">Centro de seguridad</a></li>
                  <li><a href="" class="a-footer">Preguntas frecuentes</a></li>
                  <li><a href="" class="a-footer">Resolución de problemas</a></li>
                </ul>
              </li>
              <li class="menu-item" onclick="dropFooter(`contacto`)"><span class="a-footer">Contacto <div class="btn-info">
                    <i class="fas fa-chevron-down"></i>
                  </div></span>
                <ul class="sub-menu" id="contacto">
                  <li><a href="" class="a-footer">Dirección: 1234 Street Adress City Addrees, 1233.</a></li>
                  <li><a href="tel:001234 5678" class="a-footer">Teléfono: <span>(00) 1234 5678</span></a></li>
                  <li><a href="" class="a-footer">Horarios de apertura: <br>
                      Lunes-Jueves: 9:00 AM - 5:30 PM <br>
                      Viernes: 9:00 AM - 6:00 PM <br>
                      Sábados: 11:00 AM - 5:00 PM</a></li>
                  <li><a href="mailto:myym.gamers@gmail.com" class="a-footer">E-mail: <span> myym.gamers@gmail.com</span></a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- fin del desplegable -->
        </div>
        <!-- fin del menu -->
      </section>
      <section class="social-footer">
        <div class="list-footer">
          <ul>
            <li><a href="">Trabajá con nosotros</a></li>
            <li><a href="">Términos y condiciones</a></li>
            <li><a href="">Cómo cuidamos tu privacidad</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Defensa al consumidor</a></li>
          </ul>
        </div>
        <div class="container-social">
          <div class="copy">
            <p>Copyright © 2021 MYYM Gamers</p>
          </div>
          <div class="tarjetas">
            <img src="/img/iconos-png/tarjetas-icon/paypal.png" alt="">
            <img src="/img/iconos-png/tarjetas-icon/visa.png" alt="">
            <img src="/img/iconos-png/tarjetas-icon//maestro.png" alt="">
            <img src="/img/iconos-png/tarjetas-icon/mastercard.png" alt="">
            <img src="/img/iconos-png/tarjetas-icon/american-express.png" alt="">

          </div>
          <div class="social-icon">
            <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><img src="/img/iconos-png/whatsapp.png" alt=""></a>
          </div>
        </div>
      </section>
    </div>
  </section>
    <script src="/js/footer.js" defer></script>
  </footer>
