<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MYYM Gamers</title>
  
    <!-- Stylesheets --> 
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css">
  
    <!-- FONT AWESOME -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/iconos-png/iconoMYYM.png" type="image/x-icon">
  
    <!-- Scripts-locales -->    
    <script src="/js/slider.js" defer></script>
    <script src="/js/home.js" defer></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/detalleDeProducto.js" defer></script>
    <script src="/js/prevDelImg.js" defer></script>
    <!-- <script src="/js/btnFavoritos.js" defer></script> -->

    <script src="/js/buttonCards.js" defer></script> 
  
    <!-- Scripts-externos -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </head>