<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/header.ejs') %>    

        <main class="main-admin">
            <!-- Mensajede bienvenida con el nombre del administrador -->
            <section class="welcome">
                <h2>¡Bienvenid@ <%- userInSession.user %>!</h2>
            </section>
            <!-- Opciones de administrador -->
            
            <section class="options-admin">
                <% if (userInSession.rolesId === 2) { %>
                    <a href="/admin/products">
                        <div class="administracion">
                            <h4>Administrar Productos</h4>
                        </div>
                    </a>

                    <a href="/admin/marks">
                        <div class="administracion">
                            <h4>Administrar Marcas</h4>
                        </div>
                    </a>

                    <a href="/admin/categories">
                        <div class="administracion">
                            <h4>Administrar Categorías</h4>
                        </div>
                    </a>

                    <a href="/admin/subcategories">
                        <div class="administracion">
                            <h4>Administrar Subcategorías</h4>
                        </div>
                    </a>   
    
                    <a href="/admin/sucursals">
                        <div class="administracion">
                            <h4>Administrar Sucursales</h4>
                        </div>
                    </a>
    
                    <a href="/admin/userList">
                        <div class="administracion">
                            <h4>Administrar Usuarios</h4>
                        </div>
                    </a>
    
                   
            <% } else { %>
                <a href="/admin/products">
                    <div class="administracion">
                        <h4>Administrar productos</h4>
                    </div>
                </a>
                <a href="/admin/userList">
                    <div class="administracion">
                        <h4>Administrar Usuarios</h4>
                    </div>
                </a>
                <% } %> 

            </section>
        </main>

    </body>

</html>