<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head.ejs') %> 
  <script src="/js/forgotPassVal.js" defer></script>
<body class="forms-form">
  <main>
    <div class="contain3r">
    <div class="form-container">
      <div style="order: 1" class="logo-container">
        <a href="/"><img class="myym" src="/img/logo-form.png" alt=""></a>
      </div>
      <div style="order: -1" class="form-content">
        <form id="formFp" action="/forgotPassword" method="POST" >
            <div class="iniciar">
              <h2>
                Recupera tu cuenta
              </h2>
              <h3>
                ㅤㅤㅤㅤㅤㅤㅤㅤㅤ
              </h3>
              <h3>
                <a class="a" href="/login">Volver al login</a>
              </h3>
              <h3>
                ㅤㅤㅤㅤㅤㅤㅤㅤㅤ
              </h3>
              <h3>
                Ingresa tus Datos
              </h3>
            </div>
            <div class="form">
              <div class="input-container">
                <input class="input-style" id="email" type="email" name="email" placeholder="email">
    
                <span class="error-message" id="emailError"><%= (locals.errors && errors.email) ? errors.email.msg : "" %></span>
    
              </div>
              <div class="form">
                <div class="input-container">
                    <input class="input-style" id="user" type="text" name="user"
                        placeholder="usuario">
                    <span class="error-message" id="userError">
                        <%= (locals.errors && errors.user) ? errors.user.msg : "" %>
                    </span>
    
                </div>
                </div>
            <div class="form">
                <div>
                  <span class="error-message" id="submitError"></span>
                    <button id="btn-submit1" type="submit" style="color: white; background-color: #1f53c5;" class="btn btn-submit">Buscar</button>
                </div>
              </div>
            </div>
          </form>
      </div>

    </div>
  </div>
  </main>
</body>

</html>