<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head.ejs') %> 
  <script src="/js/loginVal.js" defer></script>

<body class="forms-form">
  <main>
    <div class="contain3r">
    <div class="form-container">
      <div style="order: -1" class="logo-container">
        <a href="/"><img class="myym" src="/img/logo-form.png" alt=""></a>
      </div>
      <div style="order: 1" class="form-content">
        <form id="formLog" action="/login" method="POST" >
        <div class="iniciar">
          <h2>
            Iniciar Sesion
          </h2>
          <h3>
            多No tienes una cuenta? <a class="a" href="/register">Registrate</a>
          </h3>
        </div>
        <div class="form">
          <div class="input-container">
            <input class="input-style" id="emailLog" type="email" name="email" placeholder="email">

            <span class="error-message" id="emailErrorLog"><%= (locals.errors && errors.email) ? errors.email.msg : "" %></span>


          </div>
        <div class="form">
            <div class="input-container">
              <input class="input-style" id="passwordLog" type="password" name="password" placeholder="contrase単a">

              <span class="error-message" id="passwordErrorLog"><%= (locals.errors && errors.password) ? errors.password.msg : "" %></span>

            </div>
          <div class="check">
              <input type="checkbox" name="recordar" id="recordar">
              <label style="color: white;" for="recordar">Recordarme</label>
          </div>
          <div class="old">
              <span><a class="a" href="/forgotPassword">多Olvidaste tu contrase単a?</a></span>
            </div>
            <span class="error-message" id="submitErrorLog"></span>
            <button id="btn-submit" type="submit" class="btn btn-submit">Ingresar</button>
          </div>
        </div>
      </form>
      </div>

    </div>
  </div>
  </main>
</body>

</html>